@keyframes divs {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  div {
    animation: divs infinite 20s ease-in-out;
  }
}